.home {
  display: flex;
  flex-direction: column;
}

.heroSection {
  min-height: 100svh;
  padding: 16px 0;
  padding-top: 64px;
}

.heroContainer {
  color: white;
  padding: 128px 42px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

.heroSection h1 {
  font-size: 110px;
  color: white;
  font-weight: 700;
  font-family: "InterDisplay";
  font-feature-settings: "cv11";
  line-height: 1;
  margin-bottom: 32px;

  background: linear-gradient(to bottom right, #9D40F9, #EE22D7, #ee5522);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroSection h2 {
  font-size: 32px;
  color: white;
  font-weight: 500;
  font-family: "InterDisplay";
  font-feature-settings: "cv11";
  margin-bottom: 32px;
}

.heroSection span{
  font-size: 16px;
  font-weight: 500;
  color: #ABA9B0;
  max-width: 500px;
}

.tagContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.tagContainer>div {
  color: #ABA9B0;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #19191C;
  padding: 8px;
  padding-right: 12px;
  border-radius: 100px;
  font-weight: 500;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
}
