.container {
  padding: 16px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  height: 64px;
  border-radius: 1000px;
  overflow: hidden;
  max-width: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease;
  backdrop-filter: blur(32px);
  opacity: 0;
}

.navbarBackground {
  box-shadow: 0 .5px .5px #ffffff29 inset,0 0 0 1px #000000c4,0 41px 17px #00000008,0 23px 14px #0000001a,0 10px 10px #0000002b,0 3px 6px #00000030;
  background-color: #0c0c0c;
  background-color: #151516;
  padding: 0;
  max-width: calc(1000px - 32px);
  opacity: 1;
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
}

.profilePicture {
  border-radius: 1000px;
  height: 48px;
  width: 48px;
  object-fit: cover;
  flex-shrink: 0;
}

.name {
  color: white;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(0deg, rgb(178, 175, 180) 30%, rgba(230,227,232,1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  margin-left: auto;
}

.primaryButton {
  background-color: white;
  border-radius: 1000px;
  margin-left: 8px;
  height: 48px;
  padding: 0 40px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.3) inset, 0 -8px 8px -4px #c559ff inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 4px 16px rgba(255, 255, 255, 0.175) inset;
  transition: all 0.1s ease-in-out;

  background: radial-gradient(100% 100% at 50% 100%, rgb(81, 0, 255) 0%, rgb(255, 0, 230) 100%), #231645;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.primaryButton:hover {
  transform: scale(1.05);
  background: radial-gradient(100% 100% at 50% 100%, rgb(81, 0, 255) 0%, rgb(255, 44, 234) 100%), #231645;
}

.primaryButton:active {
  transform: scale(0.95);
  background: radial-gradient(100% 100% at 50% 100%, rgb(81, 0, 255) 0%, rgb(212, 8, 192) 100%), #231645;
}

.primaryButton > span {
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(0deg, rgb(216, 193, 231) 30%, rgb(240, 238, 241) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  display: flex;
  padding: 8px;
  cursor: pointer;
  color: white;
  border-radius: 1000px;
}

.button:hover {
  background-color: #23232877;
}

.centerContainer {
  display: flex;
align-items: center;
gap: 12px;
margin-left: 16px;
}

.centerContainer > a {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease;
}

.centerContainer > a:hover {
  color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 1000px) {
  .name {
    display: none;
  }
  .centerContainer {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .button {
    display: none;
  }
}
